.blog-posts
    padding: 20px
    & > *
        margin-bottom: 20px

.post
    border: 2px solid #c6c3c3
    border-radius: 5px
    padding: 10px
    &__header
        display: flex
    &__delete-btn
        margin-left: auto
        color: dimgrey
    &__text
        white-space: pre-wrap
        word-wrap: break-word
        word-break: break-all

    &__open-btn
        display: block
        background-color: #e5e5e5
            
    &__hiding-text
        font-size: 0
        opacity: 0
        transition: opacity .5s, font-size .25s
        position: absolute
        top: -300px
        &--shown
            font-size: inherit
            opacity: 1
            top: 0
            position: relative

.post-author
    display: flex
    align-items: center
    text-decoration: none
    color: inherit
    &__picture
        margin-right: 10px
    &__nickname
        cursor: pointer
        margin: 0
        font-size: 20px
        line-height: 1.2

.post-button
    cursor: pointer
    border: none
    padding: 0
    width: 80px

.post-like
    &__amount
        display: inline-block
        margin-left: 20px
        font-weight: 600
    &__button
        background-color: pink
