$header-color: lightseagreen

.page-header
  display: flex
  background-color: $header-color
  padding: 0 15px
  position: relative
  &__content
    padding: 15px
    font-size: 18px
  &__user
    display: flex
    align-items: center
    margin-left: auto
    padding-left: 5px
    right: 0
    cursor: pointer
    font-weight: 600
    outline: none
    &:hover, &:focus
      background-color: darken($header-color, 5%)
  &__nickname
    padding: 15px
    margin: 0
  &__triangle
    display: inline-block
    margin-left: 5px
    border-top: 9px solid
    border-left: 7px solid transparent
    border-right: 7px solid transparent
    vertical-align: middle

  &__title
    cursor: pointer
    font-weight: 700
    text-decoration: none
    color: inherit
    outline: none
    &:hover, &:focus
      background-color: darken($header-color, 5%)

.header-details
    position: absolute
    top: 100%
    right: 0
    background-color: transparentize($header-color, .1)
    animation: rotateDetails 200ms ease-in-out forwards
    &__list
      list-style: none
      padding: 10px 0
      margin: 0
    &__item
      cursor: pointer
      padding: 5px 10px
      font-weight: 500
      outline: none
      &:hover, &:focus
        background-color: darken($header-color, 5%)
    &__link
      text-decoration: none
      color: inherit

@keyframes rotateDetails
  0% 
    transform: rotateY(90deg)
  100%
    transform: rotateY(0)
